.headerContainer{
    display: flex;
}
.bms{
    width: 140px;
    height: 60px;
    margin-top: 8px;
}
.search{
    width: 950px;
    display: flex;
}
.searchBar{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 10px;
    width: 910px;
    height: 40px;
    border-style: hidden;
    outline: none;
}
.searchIcon{
    width: 40px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.searchIcon > img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.login{
    background-color: #0078ff;
    height : 28px;
    width: 65px;
    margin: 12px;
    border-radius: 5px;
    border-style: hidden;
    color: white;
}
.menu{
    width: 18px;
    height: 12px;
    margin-top: 12px;
    background-color: #343942;
}
.navBar{
    display: flex;
}
.navBarA{
    margin-right: auto;
}
.navBarB{
    margin-left: auto;
}
.navBarA > a{
    margin: 8px;
    font-size: 15px;
    color: white;
    text-decoration-line: none;
}
.navBarB > a{
    margin: 5px;
    font-size: 12px;
    color: gray;
    text-decoration-line: none;
}